/* 
======================================
THEME POLO360
====================================== 
1.  FONTS
2.  MAIN
3.  NAVIGATION
4.	TEXT
5.	SOCIAL
6.	FORM
7.  SLIDER
8.  FOOTER
9.  MEDIA
*/
/* 
========================
		FONTS
======================== 
*/
	/*    font-family: "Gill Sans MT"    */
	@import url('http://db.onlinewebfonts.com/c/3f3b5dee5276f99b6d5bfcf7e1a7be52?family=Gill+Sans+MT');
	/*    font-family: "Georgia Bold"    */
	@import url('http://db.onlinewebfonts.com/c/08a3a3f82f0c66432e780f79e74924cd?family=Georgia');
	/*    font-family: "Georgia"    */
	@import url('http://db.onlinewebfonts.com/c/7dca09e227fdfe16908cebb4244589e4?family=Georgia');
	/*    font-family: "Helvetica"    */
	@import url('http://db.onlinewebfonts.com/c/bec9cfcd690948400517b31821c873e1?family=Helvetica');
	/*    font-family: "Tahoma"    */
	@import url('http://db.onlinewebfonts.com/c/cd0381aa3322dff4babd137f03829c8c?family=Tahoma');
	/*    font-family: "Verdana"    */
	@import url('http://db.onlinewebfonts.com/c/562fa31bba08b3f71cb71257ddb880d5?family=Verdana');
/* 
========================
		MAIN
======================== 
*/
body{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
  	line-height: 1.4em;
  	font-family: 'Verdana', 'Helvetica','Tahoma',sans-serif;  
  	font-weight: normal;
  	font-style: normal;
  	color: #000;
}
* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
header{
	width: 100%;
	min-height: 100px;	
}
main{
	width: 100%;
	height: auto;
	position: relative;	
	padding-top: 30px;
}
.row{
	width:100%;
	height: auto;
	margin: 0px;	
	padding: 20px 0px 20px 0px;
	display: inline-flex;
}
.post{
	display: inline-block;
	width: 33%;
	padding: 10px;
}
.post img{
	border: 8px solid #f3f3f3;
	border-radius: 5px;		
	background-color: black;
	box-shadow: 5px 7px 7px -7px rgba(99, 99, 99, 0.5);	
}
.learn {
	background: transparent url('../img/learn.png') no-repeat center;
	width: 163px;
	height: 40px;
}
.learn:hover {
	background: transparent url('../img/learn2.png') no-repeat center;
}
hr.divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 	
}
.dash {	
	padding: 5px;
	overflow: auto;
	border-top:1px dashed #ccc;
}
.container{
	display: block;
	width: 100%;
	max-width: 940px;	
	margin: 0 auto;	
}
.logo{
	display: block;
	float: left;
	width: 100%;
	max-width: 287px;
	height: 76px;	
	margin: 12px;
}
main div.row h5 {
	font-size: 18px;
}
main div.post h5 {
	font-size: 21px;
	color: rgb(17,113,156);
}
main div h6 {
	font-family: 'Gill Sans MT';
	font-size: 18px;
	color: rgb(68,68,68);
	margin: 10px 0px 10px 0px;	
}
main div.post p {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(62,62,62);
}
.post .un_title {
	font-size: 12px;
	color: rgb(140,140,140);
}
/* 
============================
		NAVIGATION
============================ 
*/
nav{
	float: right;	
	width: 100%;
	max-width: 600px;
	height: 48px;	
	margin: 26px 0px 26px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;    
}
nav li {
    display: inline-block;
    margin-left: 3px;
    position: relative;
    background: url('../img/dot.gif') repeat-y left;
    height: 45px;
    margin: 5px;
}
nav li a {
    display: block;
    font-family: 'Georgia Bold';
	color: rgb(102,102,102);
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;    
}
nav li a:hover {
    color: #000;
}
nav p {
	font-size: 11px;
	color: rgb(183,183,183);
	font-family: Tahoma, sans-serif;
	margin: 5px 0px 0px 0px;	
}
/* 
==============================
		TEXT
============================== 
*/
a {
	text-decoration: none;
	font-size: 18px;	
	-webkit-transition: all 0.15s ease;
	   -moz-transition: all 0.15s ease;
	    -ms-transition: all 0.15s ease;
	     -o-transition: all 0.15s ease;
	        transition: all 0.15s ease;
}
img {
	display: block;
	width: 100%;	
}
h3 {
	font-family: "Georgia Bold";
	font-size: 24px;
	text-align: center;
	padding-bottom: 10px;
}
h5 {
	color: rgb(68,68,68);
	font-family: "Georgia";
	margin: 10px 0px 10px 0px;	
}
.social p, .updates p {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: rgb(68,68,68);
	margin: 0;
}
/*
==============================
		SOCIAL
============================== 
*/
.subscribe {
	background: transparent url('../img/subsclibe.png') no-repeat center;
	width: 163px;
	height: 40px;
}
.subscribe:hover {
	background: transparent url('../img/subsclibe2.png') no-repeat center;
}
.facebook {
	background: transparent url('../img/facebook.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.facebook:hover {
	background: transparent url('../img/facebook2.png') no-repeat center;
}
.twitter {
	background: transparent url('../img/twitter.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.twitter:hover {
	background: transparent url('../img/twitter2.png') no-repeat center;
}
.rss {
	background: transparent url('../img/rss.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.rss:hover {
	background: transparent url('../img/rss2.png') no-repeat center;
}
.in {
	background: transparent url('../img/linkedin.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.in:hover {
	background: transparent url('../img/linkedin2.png') no-repeat center;
}
.youtube {
	background: transparent url('../img/youtube.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.youtube:hover {
	background: transparent url('../img/youtube2.png') no-repeat center;
}
.social{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.social ul{
	display: inline-block;	
	padding: 0px 0px 20px 0px;
	margin: 0;
}
.social ul li {
	display: inline-block;
	list-style: none;
	width: 54px;
}
.contact{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.updates{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.update-post{
	width: 100%;
	display: inline-block;
	height: auto;
	margin: 0px 0px 10px 0px;
	padding:0;
}
.list{
	width: 100%;
	display: inline-block;	
}
.list img{
	width: 100%;
}
.le{
	float: left;	
	border: 5px solid #ccc;
	border-radius: 3px;
}
.ri{
	float: right;
	width: 75%;
}
/* ==============================
		FORM
============================== */
input[type="text"] {
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   	-webkit-border-radius: 	3px; 
	   -moz-border-radius: 	3px; 
   	     -o-border-radius: 	3px; 
   background: #ffffff !important;
   outline: none; 
   height: 34px; 
   width: 100%; 
   margin-bottom: 20px;
   padding-left: 10px;
}
input{
	padding: 5px 0px 5px 0px;
}
textarea {
   display: block;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
      -moz-border-radius: 3px; 
        -o-border-radius: 3px; 
   background: #ffffff !important;
   outline: none; 
   height: 130px; 
   width: 100%; 
   margin-bottom: 10px;
   padding: 10px;
}
input[type="text"], .contact textarea {
   color: rgb(212,212,212);
   font-size: 10px;
   font-family: Verdana, Tahoma, sans-serif;
   letter-spacing: 2px;
}
/* 
================================
		SLIDER
================================ 
*/
.slider-section{
	height: 340px;
  margin-bottom: 45px;
	background: #151515;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#333333));
	background: -webkit-linear-gradient(#151515 0%, #333333 100%);
	background: -moz-linear-gradient(#151515 0%, #333333 100%);
	background: -o-linear-gradient(#151515 0%, #333333 100%);
	background: linear-gradient(#151515 0%, #333333 100%);
}
.slider-container{
	position: relative;
	width: 100%;
}

.slider-box{
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	min-width: 320px;
  max-width: 960px;
}

.slideshow-wrap * {
    margin: 0;
    padding: 0;
}

.slideshow-wrap {
    position: relative;
    display: block;
    min-width: 320px;
    max-width: 960px;
    border-radius: 5px 5px 0 0;
}

.slideshow-inner,
.slideshow-text{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(0,0,0);
    overflow: hidden; 
}

.slideshow-text{
    padding: 25px 0 10px 0;
    height: 60px;
    border-radius: 0;
    background-color: transparent;
    background-image: url('../img/shadow.png');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    line-height: 24px;
}

.slideshow-inner>ul,
.slideshow-text>ul {
    position: relative;
    left: 0;
    height: 100%;
    width: 500%;
    overflow: hidden;
    list-style: none;  
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
       -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
         -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
            transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-text>ul{
	height: 26px;
}

.slideshow-inner>ul>li,
.slideshow-text>ul>li {
    position: relative;
    float: left;
    width: 20%;
    height: 320px;
    background-size: cover;
    background-position: center center;
}
.slideshow-text>ul>li{
    height: auto;
}

.slideshow-inner .slide1{
    background-image: url('../img/banner1.png');  
}

.slideshow-inner .slide2{
    background-image: url('../img/banner2.jpg');
}

.slideshow-inner .slide3{
    background-image: url('../img/banner3.jpg');
}

.slideshow-inner .slide4{
    background-image: url('../img/banner4.png');
}

.slideshow-inner .slide5{
    background-image: url('../img/banner5.jpg');
}

.slideshow-wrap input[type=radio] {
    display: none;
}

.slideshow-wrap label {
    position: absolute;
    left: 45px;
    bottom: 75px;
    z-index: 100;
    width: 16px;
    height: 16px;
    background:  radial-gradient(circle,rgba(200,200,200,1),
    																		rgba(170,170,170,1),
    																		rgba(100,100,100,1));
    border: 3px solid #000;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
            box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
       -moz-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;
}


.slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1],
.slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2],
.slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3],
.slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4],
.slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { 
    background-color: rgba(113,210,241,1);
    background:  radial-gradient(circle,rgba(200,255,255,1),
    																		rgba(113,210,241,1),
    																		rgba(100,150,200,1)); 
}


.slideshow-wrap label[for=button-1] { 
    margin-left: -30px; 
}

.slideshow-wrap label[for=button-2] { 
    margin-left: -8px; 
}

.slideshow-wrap label[for=button-3] { 
    margin-left: 14px; 
}

.slideshow-wrap label[for=button-4] { 
    margin-left: 36px; 
}

.slideshow-wrap label[for=button-5] { 
    margin-left: 58px; 
}

.slideshow-wrap input[type=radio]#button-1:checked~.slideshow-inner>ul,
.slideshow-wrap input[type=radio]#button-1:checked~.slideshow-text>ul { 
    left: 0; 
}

.slideshow-wrap input[type=radio]#button-2:checked~.slideshow-inner>ul,
.slideshow-wrap input[type=radio]#button-2:checked~.slideshow-text>ul { 
    left: -100%; 
}

.slideshow-wrap input[type=radio]#button-3:checked~.slideshow-inner>ul,
.slideshow-wrap input[type=radio]#button-3:checked~.slideshow-text>ul { 
    left: -200%; 
}

.slideshow-wrap input[type=radio]#button-4:checked~.slideshow-inner>ul,
.slideshow-wrap input[type=radio]#button-4:checked~.slideshow-text>ul { 
    left: -300%; 
}

.slideshow-wrap input[type=radio]#button-5:checked~.slideshow-inner>ul,
.slideshow-wrap input[type=radio]#button-5:checked~.slideshow-text>ul { 
    left: -400%; 
}
/* 
==========================
		FOOTER
========================== 
*/
footer div, footer p, footer ul, footer li, footer a {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: rgb(153,153,153);
	line-height: 1.5;
	font-size: 12px;
}
footer {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100px;
	background: #333333;
	border-top: 10px solid #4c4c4c;	
}
.footer-left{
	display: inline-block;
	padding: 10px;	
}
.footer-left li {
	display: inline-block;
}
.footer-right{
	display: inline-block;
	padding: 10px;
	width: 34.99%;
	float: right;
}
/* 
=============================
		MEDIA
============================= 
*/
@media screen and (max-width: 1024px){	
	.container{
		width: 748px;
	}
	main{
		padding-top:0px;
	}
	.sliderA{
		width: 748px;
	}
	.slider{
		height: 380px;
	}
	.sliderA > input + label {
		top: 77%;
	}
	.logo{
		width: 20%;
		padding: 20px 0px 20px 0px;
	}
	.logo a img{
		width: 100%;
	}
	nav{
		width: 74%;
	}
	nav p{
		display: none;
	}
	nav li a{
		font-size: 24px
	}
	nav li{
		height: 100%;
	}
	.list{
		width: 100%;
		display: inline-block;
		padding: 0px 0px 0px 0px;
	}
	.list img{
		width: 60px;
	}
	.le{
		border: 4px solid #ccc;
		border-radius: 4px;
		width: 30%;
	}
	.ri{
		width: 69%;
	}
	.ri p{
		font-size: 10px;
		margin: 0px 0px 5px 0px;
		padding-left: 5px;
	}

	.slider-section{
		margin-bottom: 70px;
	}

	.slideshow-text{
		background-image: url('../img/shadow_768.png');
	}

	.slideshow-text h3{
		font-size: 20px;
	}

	.footer-left{
		width: 49.99%;
	}
	.footer-right{
		width: 34.99%;
	}
	.post .un_title {		
		font-size:11px;
	}	
}
@media screen and (max-width: 768px){	
	.container{
		width: 100%;
	}
	main{
		padding-top:0px;
	}
	.sliderA{
		width: 100%;
	}
	.sliderA > input + label {
		top: 50px;
	}
	.row{
		display: inline-block;
	}
	.post,.social,.updates,.contact{
		width: 100%;
	}	
	.list{
		padding: 0px 0px 8px 0px;
	}
	.list img{
		width: 120px;
	}
	.le{
		width: 24%;
	}
	.ri{
		width: 75%;
	}
	.ri p{
		font-size: 14px;
	}
	.slider{
		height: 100%;	
		max-height: 380px;
		border-bottom: solid #fff 30vh;
	}
	nav p{
		display: none;
	}
	nav li{
		height: 100%;
	}
	nav li a {
		font-size: 24px;
	}	
	.update-post{
		padding-bottom: 8px;
	}
	main .row div p {
		font-size: 1.8em;
		line-height: 1.2;
	}
	main .row div p.un_title {
		font-size: 1.4em;
	}
		main .row div.ri p {
		font-size: 2em;
	}

	.slider-section{
		background: none;
	}

	.slider-box {
    position: static;
    top: 0;
    left: 0;
   }

	.slideshow-text{
		background-image: url('../img/shadow_480.png');
	}

	.slideshow-text h3{
		font-size: 3vw;
	}

}
@media screen and (max-width: 480px){
	.logo{
		width: 100%;
		padding: 20px 0px 20px 0px;
		margin: 0 auto;
		float: none;
	}

	.slider-section{
		display: none;
	}
	
	nav p{
		display: none;
	}
	main{
		padding-top:0px;
	}
	header nav{
		width: 100%;
		float: none;	
		height: 100%;	
		min-height: 80px;
		margin: 50px 0px 0px 0px;
	}
	header nav ul{
		list-style-type: none;
		margin: 0;
		padding: 10px;
		float: right;
		overflow: hidden;
	}
	header nav li{		
		background: none;
		float: none;
		margin: 0px;
		padding-bottom: 10px;
	}
	header nav li a{
		font-size: 25px;
		font-family: Verdana;
	}
}